{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/people.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>User List</h1>
            <span class="subheading">Select the user to update</span>
          </div>
        </div>
      </div>
    </div>
  </header>


 <!-- Main Content -->
  <div class="container">
<!--    <div class="row">-->
<!--      <div class="col-lg-8 col-md-10 mx-auto">-->

<!--    	  <table class="table table-hover">-->
<!--          <thead>-->
<!--            <tr>-->
<!--              <th scope="col">Email</th>-->
<!--&lt;!&ndash;              <th scope="col">Password</th>&ndash;&gt;-->
<!--              <th scope="col">Name</th>-->
<!--              <th scope="col">Admin</th>-->
<!--                <th scope="col"> </th>-->

<!--            </tr>-->
<!--          </thead>-->
      <div class="container text-start fw-bold">
        <div class="row align-items-start" style="font-size: 1vw;">
            <div class="col">
                Email
            </div>
            <div class="col">
                Name
            </div>
            <div class="col">
                <div class="container text-center">
                Admin
                </div>
            </div>
            <div class="col">

            </div>
        </div>
      </div>

<!--          <tbody>-->
          {% for user in user_list: %}
            <div class="container text-start">
        <div class="row align-items-start" style="font-size: 1vw;">
            <div class="col text-break">
                {{user.email}}
            </div>
            <div class="col">
               {{user.name}}
            </div>
            <div class="col">
                <div class="container text-center">
                {% if not user.admin: %}
                    {{ render_icon('square') }}
                {%else: %}
                    {{ render_icon('check-square-fill') }}
                {% endif %}
                </div>
            </div>
            <div class="col">
                <div class="row align-items-start">
                    <a href="{{ url_for('update_user', user_id=user.id ) }}">{{ render_icon('pencil-fill') }}</a>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}

  </div>



{% include "footer.html" %}

{% endblock %}